  /* TERMINAL STYLES */

/* html, body, head, h1, h2, h3, h4, h4, h6, 
div, span {
  font-family: "Hack Nerd Font", monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* #terminal-container {
  background: rgb(39, 41, 54);
  height: 80vh;
  margin: 1.5vw;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; 
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#terminal-header {
  background: rgb(103, 103, 103); 
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 4vh;
  padding-left: .5vw;
  width: 100%;
  
}

span.screen-controls {
  border-radius: 99px;
  display: inline-block;
  height: 1.7vh;
  margin: 0 .3vw;
  vertical-align: baseline;
  width: 1vw;
}

.screen-controls.exit {
  background: rgb(250, 96, 88);
}
.screen-controls.minimize {
  background: rgb(252, 191, 47);
}
.screen-controls.full-screen {
  background: #30CC42;
}

#terminal-header > h1 {
  color: #53cc53;
  display: inline-block;
  font-size: .7rem;
  margin: 0 auto;
  padding: .9vh;
  text-align: center;
  vertical-align: baseline;
  width: 85%;
}

#terminal-container p {
  animation: typing 3.5s steps(60, end), blink-caret .65s step-end infinite; 
  color: #32cd32;
  margin-left: 1vw;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #32cd32; }
}

#terminal-container {
    display: none;
    } */


/* GLOBAL STYLES */ 
body {
    text-align: center;
    background: #000;
    color: #f5f5f5;
}                          
/* HEADER STYLES */

.header-name {
    font-size: 2rem;
    padding: 5vh 0;
}

.header-nav {
    box-sizing: border-box;
    height: 25vh;
    margin-bottom: 25vh;
    padding: 2.5vh 0 0 0;
    width: 100vw;
    
}

.header-nav > li {
    display: block;
    font-family: "Roboto", Helvetica, sans-serif;
    height: 5vh;
    list-style: none;
    margin: 4.5vh 0 0 0;
    opacity:0.9;    
}

.header-nav >  a:first-child {
    color: #f5f5f5;
}
.header-nav > li:first-child a:hover {
    color: #000;
}
.header-nav a {
    background: #006700;
    border-radius: 50px;
    box-sizing: border-box;
    color: #f5f5f5;
    font-size: 1em;
    font-weight: bold;
    margin: 2vh 0;
    padding: 3vw;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}

a:hover,
a:focus {
   background: #f5f5f5;
   color: #006700;
}
/* Hero image sizing*/
.image-container > img {
  height: auto;
  width: 100vw;
}

.full-hero .hero-home img {
    background: #fff;
    margin-bottom: 10vh;
    padding: 0;
    height: auto;
    width: 100vw;
}

/* Content Style */

 .intro {
color:  #000;
background: #f5f5f5;
font-size: 1em;
font-family: Georgia;
margin: 0 auto;
margin-top: 8vh;
padding: 1em;
width: 100%;

}

.intro p {
    line-height: 1.5rem;
    margin: 0 auto;
    margin-bottom: 9vh;
    padding: 4.5vh 0;
    text-align: justify;
    width:80%;
}

h2 {
    font-size: 2em;
    padding: 1em 0;
    margin-bottom: 5vh;
 }

 ul.skill-list {
   margin: 0 auto;
   padding: 0;

 }

.skill-list > li {
    background-color: #006700;
    border-radius: 50px;
    color: #f5f5f5;
    display: block;
    padding: 5vw;
    margin: 0 auto;
    margin-top: 2vh;
    text-align: center;
    list-style: none;
    width: 20vw;
    
}
                                /* Graphic Design Page Style*/

/* .subtitles {
color: #f5f5f5;
    font-family: "futura", sans-serif;

}  */

.frameBackground {
  background: #FFF;
}
                             /* RESUME STYLES */

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 300px 300px 300px;
}
.resume-title {
  font-family: 'Helvetica Neue'
}
span.block {
  display: block;
}
.resume-image-container {
  display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.resume {
  background: #1432ca;
  margin: 0 auto;
  height: auto;
  width: 60vw;
}

.resume-skills {
  list-style: none;
}

                                    /* FOOTER STYLES */
footer {
  height: 20px;
  margin: 20vh 0 10vh 0;
  width: 100vw;
}



.fab:before {
  font-size: 2.5em;
  padding: 1vw;
}


.fa-linkedin:before {
  color: rgb(2, 116, 177);
  
}

.fa-github:before {
  color:#FFFFFF;
  
}
.fa-twitter:before {
    color: #1DA1F2;
  
}


 

                               /* Media Queries */


@media screen and (min-width: 600px) {
  .header-name {
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    margin: 0 auto;
    padding: 5vh 0;
    margin-left: 5vw;

}
.header-nav {
  display: inline-block;
  padding: 5.5vh 60px 0 0;
}

.header-nav > li {
  color: #006700;
  display: inline-block;
  font-family: "Roboto", Helvetica, sans-serif;
  list-style: none;
  margin: 2vh auto;
  opacity:0.9;
  text-align: center;
    
}
.header-nav a {
  padding: 1.5vw;
}


.full-hero > img {
  background: #000;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
} 

.skill-list > li {
  background-color: #006700;
  border-radius: 99px;
  color: #f5f5f5;
  display: inline-block;
  font-size: 1.5em;
  padding: 5vw;
  margin: 0 auto;
  margin-top: 2vh;
  text-align: center;
  list-style: none;
  width: 5vw;
  
}
 /* PROJECTS STYLES */
.underConstruction {
  color: #006700;
}
 
 /* RESUME STYLES */

 .grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1.5fr 1.75fr 1.25fr;
}
.resume-header {
  vertical-align: center;
}
.resume-title {
  font-family: 'Lato';
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  padding: 0;
}
span.block {
  display: block;
}

.resume-image-container {
  display: inline-block;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.resume-image-container img {
  height: auto;
  position: absolute;
  top: -80px;
  left: -170px; 
  width: 35vw;

}
.contact-info {
  list-style: none;
  padding-top: 6vh;
  padding-left: 0;
  
}
.contact-info a {
  color: #f5f5f5;
  text-decoration: none;
  
}
.resume {
  background: #1d39c1;
  margin: 0 auto;
  height: auto;
  width: 60vw;
}

.work-experience {
  grid-column: span 2;
  padding-bottom: 10vh;
}

.work-experience > h4 {
  display: inline-block;
}

.work-experience p {
  text-align: left;
  padding-left: 3vw;
}
.resume-skills {
  text-align: center; 
}
h4 {
  padding-left: 3vw;
}
.resume-skills ul,
.certificates ul,
h4 {
  list-style: none;
  /* padding-left: 0; */
  text-align: left;
}

.right-aligned {
  padding-left: 10vw;

}
}

  