  /* TERMINAL STYLES */

/* html, body, head, h1, h2, h3, h4, h4, h6, 
div, span {
  font-family: "Hack Nerd Font", monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* #terminal-container {
  background: rgb(39, 41, 54);
  height: 80vh;
  margin: 1.5vw;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; 
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#terminal-header {
  background: rgb(103, 103, 103); 
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 4vh;
  padding-left: .5vw;
  width: 100%;
  
}

span.screen-controls {
  border-radius: 99px;
  display: inline-block;
  height: 1.7vh;
  margin: 0 .3vw;
  vertical-align: baseline;
  width: 1vw;
}

.screen-controls.exit {
  background: rgb(250, 96, 88);
}
.screen-controls.minimize {
  background: rgb(252, 191, 47);
}
.screen-controls.full-screen {
  background: #30CC42;
}

#terminal-header > h1 {
  color: #53cc53;
  display: inline-block;
  font-size: .7rem;
  margin: 0 auto;
  padding: .9vh;
  text-align: center;
  vertical-align: baseline;
  width: 85%;
}

#terminal-container p {
  animation: typing 3.5s steps(60, end), blink-caret .65s step-end infinite; 
  color: #32cd32;
  margin-left: 1vw;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #32cd32; }
}

#terminal-container {
    display: none;
    } */


/* GLOBAL STYLES */ 
body {
    text-align: center;
    background: #000;
    color: #f5f5f5;
}                          
/* NAV STYLES */


.navbar-nav > li.nav-item > a.nav-link:hover {
    color: #000;
}
a.nav-link {
    background: #006700;
    border-radius: 50px;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}

a:hover,
a:focus {
   background: #f5f5f5;
   color: #006700;
}
/* Hero image sizing*/
.image-container > img {
  height: auto;
  width:80%;
}

.full-hero .hero-home img {
    margin-bottom: 10vh;
    padding: 0;
    width: 100%;
    max-width: 800px;
}

/* Content Style */

 .intro {
color:  #000;
background: #f5f5f5;
font-size: 1em;
font-family: Georgia;
margin: 0 auto;
margin-top: 8vh;
padding: 1em;
width: 100%;

}

.intro p {
    line-height: 1.5rem;
    margin: 0 auto;
    margin-bottom: 9vh;
    padding: 4.5vh 0;
    text-align: justify;
    width:80%;
}

h2 {
    font-size: 2em;
    padding: 1em 0;
    margin-bottom: 5vh;
 }
 .fa-html5::before {
  color: #f16529;
}

.fa-css3-alt::before {
  color: #29A9DF;
}
.fa-js-square {
  color: #f7e018;
}
.fa-git {
  color: #F44C27;
}
.fa-node {
  color: #68A063;
}

 .skill-list {
   display: grid;
   grid-template-columns: 30% 30% 30%;
   grid-template-rows: auto auto;
   margin: 0 auto;
   padding: 0;

 }
.skill-list > li {  
  display: block;
  padding: 5vw;
  margin: 0 auto;
  margin-top: 2vh;
  text-align: center;
  list-style: none;
  width: 20%;  
}
a {
  color: #006700;
}
                                /* PROJECTS STYLES */
.projects-grid {
  display: block;
  margin: 0 auto;
  width: 100%;
  
}

.projects {
  max-width: 80vw;
}


.frameBackground {
  background: #FFF;
}
                             /* RESUME STYLES */

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 300px 300px 300px;
}
.resume-title {
  font-family: 'Helvetica Neue'
}
span.block {
  display: block;
}
.resume-image-container {
  display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.resume {
  background: #1432ca;
  margin: 0 auto;
  height: auto;
  width: 60vw;
}

.resume-skills {
  list-style: none;
}

                                    /* FOOTER STYLES */
footer {
  height: 20px;
  margin: 20vh 0 10vh 0;
  width: 100%;
}



.fab:before {
  font-size: 2.5em;
  padding: 1vw;
}


.fa-linkedin:before {
  color: rgb(2, 116, 177);
  
}

.fa-github:before {
  color:#FFFFFF;
  
}
.fa-twitter:before {
    color: #1DA1F2;
  
}

/* Contact Page Styling */
#subject {

}

#body {
  
}

 

                               /* Media Queries */
@media screen and (min-width: 768px) {
  .navbar {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 10vh;
  }
  .header-name {
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    margin: 0 auto;
    padding: 5vh 0;
    padding-left: 5vw;
}
.full-hero > img {
  background: #000;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
} 

.skill-list {
  display: inline-block;
  padding: 0;
  width: 80%;

}
.skill-list > li {  
 color: #f5f5f5;
 display: inline-block;
 padding: 3vw;
 margin: 0 auto;
 margin-top: 2vh;
 text-align: center;
 list-style: none; 
}
 /* PROJECTS STYLES */
.underConstruction {
  color: #006700;
}

.projects-grid {
  display: grid;
  grid-gap: 1.66%;
  grid-template-rows: auto auto;
  grid-template-columns: 30% 30% 30%; 
  margin: 0 auto;
}

.projects {
  
  max-height: 200px;
}
 
 /* RESUME STYLES */

 .grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1.5fr 1.75fr 1.25fr;
}
.resume-header {
  vertical-align: center;
}
.resume-title {
  font-family: 'Lato';
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  padding: 0;
}
span.block {
  display: block;
}

.resume-image-container {
  display: inline-block;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.resume-image-container img {
  height: auto;
  position: absolute;
  top: -80px;
  left: -170px; 
  width: 35vw;

}
.contact-info {
  list-style: none;
  padding-top: 6vh;
  padding-left: 0;
  
}
.contact-info a {
  color: #f5f5f5;
  text-decoration: none;
  
}
.resume {
  background: #1d39c1;
  margin: 0 auto;
  height: auto;
  width: 60vw;
}

.work-experience {
  grid-column: span 2;
  padding-bottom: 10vh;
}

.work-experience > h4 {
  display: inline-block;
}

.work-experience p {
  text-align: left;
  padding-left: 3vw;
}
.resume-skills {
  text-align: center; 
}
h4 {
  padding-left: 3vw;
}
.resume-skills ul,
.certificates ul,
h4 {
  list-style: none;
  /* padding-left: 0; */
  text-align: left;
}

.right-aligned {
  padding-left: 10vw;

}
                  /* CONTACT STYLES*/
.contact-me {
  text-align: justify;
  margin: 0 auto 3vh auto;
  width: 70%;
}
.contact-me a {
  color: #006700;
}
}

  